body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
}

body {
  color: #5b5b5b;
  padding: 0;
  max-width: 1270px;
  margin: 0 auto;
  background-color: #f8f9fa;
}

::selection {
  color: #ffffff;
  background-color: #ff6347;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

section {
  margin: 150px 0;
  min-height: 30vmin;
}

.flex-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  height: 150px;
  min-height: 50m;
}

.credits {
  padding: 50px;
  text-align: center;
}

.icon {
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 40px;
  height: auto;
  display: block;
  background-color: transparent;
}

.icon:hover {
  transform: scale(1.1);
}

/* Grid */

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

.image-card {
  position: relative;
  border: 1px solid #ddd;
  overflow: hidden;
  text-align: center;
  border-radius: 4%;
}

.image-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.image-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: center;
}

.image-card h5 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ff6347;
  color: #fff;
  padding: 10px;
  font-size: 0.9em;
  text-align: center;
  transition: background 0.3s;
}

.image-card:hover h5 {
  display: block;
}

/* Responsive styles */
@media (max-width: 768px) {
  #grid-container {
    grid-template-columns: 1fr;
  }

  .image-card {
    margin-bottom: 20px;
  }
}


/* Bio Section */
#bio {
  background-color: #333;
  /* Dark background for contrast */
  color: #fff;
  /* Light text color for contrast */
  padding: 40px;
  border-radius: 10px;
  /* Rounded corners for a softer look */
}

#bio h5 {
  margin-bottom: 20px;
  color: #ff6347;
  /* Tomato color for a striking header */
}

#bio h3 {
  font-size: 1.2em;
  line-height: 1.6;
}

strong {
  color: #ff6347;
}