body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body {
  color: #5b5b5b;
  padding: 0;
  max-width: 1270px;
  margin: 0 auto;
  background-color: #f8f9fa;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

section {
  margin: 150px 0;
}

#carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.image-card {
  flex: 0 0 25%;
  /* Show 4 items at a time */
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-card img {
  width: 100%;
  height: auto;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1em;
  cursor: pointer;
  z-index: 1;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}


.flex-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  height: 150px;
}

.credits {
  text-align: center;
}