// Variables

$base-clr: #434343;
$accent-clr: #366af3;
//

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-weight: 100;
}

div {
  display: flex;
  justify-content: center;
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8c8c8c;
  }
}

.credits {
  margin: 40px 0;
}

body {
  color: $base-clr;
  padding: 0;
  max-width: 1270px;
  margin: 0 auto;
  background-color: #f8f9fa;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-child {
  max-width: 50%;
}

header,
footer {
  height: 150px;
  place-items: center;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

#hero {
  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 74px;
    letter-spacing: -0.02em;
  }
}

.mPresp-btn-mob {
  display: none;
  h1,
  h4 {
    padding: 10px;
    border: 2px solid $base-clr;
    border-radius: 100%;
  }
}

.mPresp-btn-web {
  display: inline;
}

mark {
  color: $accent-clr;
  background-color: transparent;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  margin: 0px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

header {
  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.01em;
  }
  span {
    h3 {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: -0.01em;
      padding-left: 56px;
    }
  }
}

section:first {
  margin-top: 200px;
}

section {
  margin-bottom: 150px;
}

.hideDropdown,
.closeBurger {
  display: none;
}

li {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.03em;
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: -0.03em;
}

ul {
  text-align: left;
}

button {
  width: fit-content;
}

#clients {
  h3 {
    width: 500px;
  }
}

img {
  width: 522px;
  border-radius: 4px;
}

.flashy {
  transition: 0.3s ease;
  &:focus,
  &:hover {
    color: $accent-clr;
  }
}

footer {
  h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }

  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }

  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding-right: 16px;
  }

  div {
    width: fit-content;
    display: inline;
  }
}

.project-image-big {
  width: 738px;
  height: 512px;
}

.image-card {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 40px;

  img {
    transition: 0.3s ease;
    &:hover,
    &:focus {
      filter: blur(1px);
      opacity: 0.8;
    }
  }

  h5 {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }
}

.slider {
  place-items: center;
  min-height: 300px;

  article {
    transition: 1s ease;
    max-width: 800px;
    text-align: center;

    h5 {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
  }
}

.centered {
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
}

.scale-in-top {
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.project-image-small {
  width: 400px;
  height: 250px;
}

.project-image-small-sec {
  height: 560px;
}

.enabled {
  display: block;
}
.disabled {
  display: none;
}

.underlined {
  text-decoration: underline;
}

// 1270px -> 5px
// 900px -> change sizes of images/text
// 500px -> mobile

@media only screen and (max-width: 1270px) {
  body {
    padding: 0 10px;
  }
  .project-image-big {
    width: 400px;
    height: 250px;
  }
  #hero {
    h1 {
      font-size: 66px;
      line-height: 74px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .flex {
    flex-direction: column;
  }
  .flex-child {
    max-width: 100%;
  }
  .flex-f-h {
    flex-direction: row;
  }
  .image-card {
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  #clients h3 {
    width: 100%;
  }
  header {
    span {
      h3 {
        padding-left: 10px;
      }
    }
  }

  footer {
    span {
      div {
        padding-bottom: 20px;
      }
    }
  }
}

.goRound {
  width: 56px;
  height: 56px;
  &:hover,
  &:focus {
    color: #b7b6b6;
    border-color: #b7b6b6;
  }
}

@media only screen and (max-width: 560px) {
  .mPresp-btn-mob {
    display: block;
  }

  .socialList {
    display: block;
    margin-bottom: 24px;
  }

  .mPresp-btn-web {
    display: none;
  }

  .socialList {
    display: block;
  }

  #hero {
    h1 {
      font-size: 56px;
      line-height: 64px;
    }
  }

  a {
    font-size: 20px;
  }

  header {
    span {
      h3 {
        font-size: 20px;
      }
    }
  }

  .goRound {
    width: 40px;
    height: 40px;
  }
}
