// Variables

$base-clr: #434343;
$accent-clr: #366af3;
//

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body {
  color: $base-clr;
  margin: 0;
  padding: 0;
  max-width: 1270px;
  margin: 0 auto;
  background-color: #f8f9fa;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-child {
  max-width: 50%;
}

header,
footer {
  height: 150px;
  place-items: center;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

#hero {
  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 84px;
    letter-spacing: -0.02em;
  }
}

mark {
  color: $accent-clr;
  background-color: transparent;
}

h2 {
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

header {
  margin-bottom: 200px;

  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.01em;
  }
  span {
    h3 {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: -0.01em;
      padding-left: 56px;
    }
  }
}

section {
  margin-bottom: 150px;
}

li {
  font-weight: 400;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: -0.03em;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  text-align: left;
}

button {
  width: fit-content;
}

#clients {
  h3 {
    width: 500px;
  }
}

img {
  width: 522px;
  border-radius: 4px;
}

.flashy {
  transition: 0.3s ease;
  &:focus,
  &:hover {
    color: $accent-clr;
  }
}

footer {
  h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }

  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }

  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding-right: 16px;
  }

  div {
    width: fit-content;
    display: inline;
  }
}

.project-image-big {
  width: 738px;
  height: 512px;
}

.image-card {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 40px;

  img {
    transition: 0.3s ease;
    &:hover,
    &:focus {
      filter: blur(1px);
      opacity: 0.8;
    }
  }

  h5 {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }
}

.slider {
  place-items: center;
  height: 300px;

  article {
    transition: 1s ease;
    max-width: 800px;
    text-align: center;

    h5 {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
  }
}

.roundBtn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-style: oblique;
  transition: 0.2s ease;
  padding: 6px 15px;
  width: fit-content;
  height: fit-content;
  border: 1px solid $base-clr;
  border-radius: 100%;

  &:hover,
  &:focus {
    color: #b7b6b6;
    border-color: #b7b6b6;
  }
}

.centered {
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
}

.scale-in-top {
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.project-image-small {
  width: 400px;
  height: 250px;
}

.project-image-small-sec {
  height: 560px;
}

.enabled {
  display: block;
}
.disabled {
  display: none;
}

.underlined {
  text-decoration: underline;
}
