/* Variables */
/* General Styles */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

body {
  color: #5b5b5b;
  padding: 0;
  background-color: #f8f9fa;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ff6347;
}

::-moz-selection {
  color: #ffffff;
  background-color: #ff6347;
}

::selection {
  color: #ffffff;
  background-color: #ff6347;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

section {
  margin: 150px auto;
  min-height: 30vmin;
  max-width: 1000px;
  padding: 10px;
}

/* Flexbox Layout */
.flex-r {
  display: flex;
  justify-content: center;
  gap: 25%;
  align-items: center;
}

/* Header and Footer */
header,
footer {
  height: 150px;
  min-height: 50px;
}

footer {
  margin-top: 50px;
}

/* Credits Section */
.credits {
  padding: 50px;
  text-align: center;
}

/* Icon Styles */
.icon {
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 40px;
  height: auto;
  display: block;
  background-color: transparent;
}

.icon:hover {
  transform: scale(1.1);
}

/* Grid */
#grid-container,
#pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 5px;
  text-align: center;
}

.image-card,
.pic-life {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.pic-life {
  width: 100%;
  height: auto;
  display: block;
  border: 0;
}

.image-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.image-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.image-card h5 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ff6347;
  color: #ffffff;
  padding: 10px;
  font-size: 0.9em;
  transition: background 0.3s;
}

.image-card:hover h5 {
  display: block;
}

@media (max-width: 768px) {
  #grid-container {
    grid-template-columns: 1fr;
  }
  .image-card {
    margin-bottom: 20px;
  }
}
/* Bio Section */
#bio,
#life {
  background-color: #333;
  color: #ffffff;
  margin: 0;
  padding: 20px 0 20px;
  max-width: 100%;
}

#bio h5,
.subtitles {
  color: #ff6347;
  text-align: center;
}

#bio h3 {
  line-height: 1.6;
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
}

strong {
  color: #ff6347;
}

/* Blog */
#blog-links {
  margin: 20px;
}

.article-item {
  margin-bottom: 20px;
}

.art-title {
  color: #5b5b5b;
  text-decoration: none;
  cursor: pointer;
}

.art-title:hover {
  text-decoration: underline;
  color: #ff6347;
}

.tag,
.lang {
  color: #666;
  display: inline-block;
  margin-top: 6px;
  margin-right: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid #ff6347;
  background-color: #f8f9fa;
  text-transform: capitalize;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
}

th {
  background-color: #ddd;
  padding: 12px;
  text-align: left;
}

td {
  border: 1px solid #ddd;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f7cbc4;
}

caption {
  font-weight: bold;
  margin: 10px 0;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  table {
    width: 100%;
    font-size: 14px;
  }
  th,
  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  th {
    position: absolute;
    background: #4caf50;
    color: #ffffff;
  }
  td {
    text-align: center;
    position: relative;
    border: none;
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }
}
#post-content a {
  color: #4caf50;
}

#post-content img {
  width: 80%;
}/*# sourceMappingURL=index.css.map */