/*  */

/* General settings */
:root {
  --clr-primary: #03045e;
  --clr-secondary: #0077b6;
  --clr-accent: #6590ab;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a,
button {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

::selection {
  background-color: var(--clr-secondary);
  color: white;
}

header,
footer {
  padding: 50px 0px 100px;
}

header li {
  display: inline;
  padding-left: 10px;
}

section {
  min-height: 85vh;
  max-width: 1000px;
  margin: 0 auto;
}

.avatar {
  max-width: 350px;
  border-radius: 33%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#hero {
  place-items: center;
}

.flex h3 {
  max-width: 45ch;
  font-weight: 300;
  line-height: 25px;
}

#projects {
  margin-bottom: 100px;
}

#projects .flex {
  justify-content: start;
}

.description {
  display: block;
  margin: 10px;
}

.description h3,
.description h4,
.description h5 {
  margin: 0px;
  white-space: nowrap;
  font-weight: 100;
}

.card {
  margin-top: 100px;
}

.card:last-child {
  margin-bottom: 200px;
}

.material-symbols-outlined {
  font-size: 100px !important;
  padding: 50px 300px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0;
}

.small {
  padding: 50px 150px;
}

.flex-right {
  justify-content: end !important;
  flex-grow: 1;
}

.flex-right .description {
  text-align: right;
}

.flex-right span {
  margin-left: 10px;
}

h1 {
  font-size: 45px;
  font-weight: 100;
  line-height: 70px;
}

h1,
h2 {
  margin: 0px;
}

footer {
  font-weight: 100;
}

footer h4 {
  font-weight: 100;
  line-height: 30px;
}

footer li:first-child {
  font-weight: 700;
}

footer li {
  line-height: 30px;
}

@media (max-width: 862px) {
  .small {
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media (max-width: 762px) {
  .material-symbols-outlined {
    padding-left: 200px;
    padding-right: 200px;
  }

  #about .flex,
  footer .flex {
    flex-direction: column;
  }
}